{
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
    
}

body{
    background-color: white;
    text-align: center;
    
    font-family: 'Oxygen', sans-serif;
    font-size: 16px;
    
}
h1{
    text-align: center;
    color: rgb(115, 46, 184);
}

.Akwaaba{
    margin: auto;
    border: 3px groove rgb(36, 63, 139);
    width: 70%;
    color: white;
    background-color: rgba(199, 94, 112, 0.623);
    box-shadow: 10px 10px 5px 5px #888888;

}


a{
    text-decoration: none;
}

a:hover{
    color: plum;
    
}

nav ul{ 
background: linear-gradient(90deg, 
rgba(255,255,255,0)0%, 
rgba(255,255,255,0 )25%,
rgba(255,255,255,0 )75%,
rgba(255,255,255,0 )100%); 
box-shadow: 0 0 25px rgba(0,0,0,0.1), 
inset 0 0 1px rgba(255,255,255,0.6);
}

nav ul li a {
    padding:10px;
    color: rebeccapurple;
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}
nav ul{
    text-align: center;


}
nav ul li{
    display: inline-block;
    font-style: bold;
}


.error{
    border: 2px solid red;
  }
  .cont{
    background-color: white;
    font-family: Verdana, Geneva,sans-serif;
    font-size: 8.5px;
    text-align:left;
  
  }
  .cont p {
    font-family: Verdana, Geneva,sans-serif;
    text-align: left;
    font-size: 8.5px;
  
  }
  h2{
  
    font-family: Verdana, Geneva,sans-serif;
    font-size: 8.5px;
    text-align: left;
    
  }
  .tns{
    float: right;
    font-size: 8.5px;
  }

@media(min-width: 800px){
    .titlespace{
        display: flex;
        justify-content: center;
        padding: 10px;
        font-family: Verdana, Geneva,sans-serif;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        padding: 2vw 2vw;
        border: 3px solid transparent;
        margin: 0 10vw;
        box-shadow: 5px 3px 10px grey, -5px -3px 10px grey;
        font-family: Verdana, Geneva,sans-serif;
        
    }
    
    
}
    #titleelements li{
    display: block;
    list-style: none;
    text-align: center;
    font-family: Verdana, Geneva,sans-serif;

    }

    #name{
    font-weight: bolder;
    font-size: 1.5rem;
    }



button{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: bisque;
    font-size: 0.8rem;
    box-shadow: 3px 5px 10px grey;
    border: transparent;
}

button:hover{
    background-color: rgba(221, 205, 185, 0.8);
}



 p {
  font-family: Verdana, Geneva,sans-serif;
  text-align: left;
  font-size:10px;

}
h2{

  font-family: Verdana, Geneva,sans-serif;
  font-size: 10px;
  text-align: left;
  
}
.tns{
  float: right;
  font-size: 10px;
}